*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    background-image:url(https://media.istockphoto.com/id/1332617403/photo/light-pink-and-purple-watercolor-background.jpg?b=1&s=612x612&w=0&k=20&c=bpmCidK7HRS-ClcZoHzX90X6uyLi8Eq3nSwujE_HOSo=);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-top
{
    background-image:url(https://media.istockphoto.com/id/1332617403/photo/light-pink-and-purple-watercolor-background.jpg?b=1&s=612x612&w=0&k=20&c=bpmCidK7HRS-ClcZoHzX90X6uyLi8Eq3nSwujE_HOSo=) ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#current-date
{
    padding-top: 20px;
    color: brown;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#day-night
{
    display: flex;
    justify-content: center;
}

.day-button, .night-button
{
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px 50px 20px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
  
.day-button
{
    background-color: peru; /* blue color for day shift */
}
  
.night-button
{
    background-color: rgb(128, 33, 33); /* dark color for night shift */
}
  
.day-button:active, .night-button:active
{
    transform: translateY(1px); /* Add slight shadow effect on click */
}

#shift-text
{
    padding: 20px;
    color: brown;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-title
{
    display: flex;
    align-items: center;
    justify-content: center;
}


#all-cards
{
    padding: 5%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
}

.card form 
{ 
    background:rgb(255 255 255/30%);
    backdrop-filter: blur(5px);
}

#all-cards form  .single-input input
{
    width: 100%;
    
    outline: none;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    border-color: transparent;
}

.psingle-input
{
    display: flex;
    justify-content: space-around;
}

.psingle-input input
{
    text-align: center;
    width: 100%;
    border-color: transparent;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.side-by-side
{
    display: flex;
    justify-content: space-around;
}

#fire-code 
{
    color: brown;
}

#extra-duties
{
    color: brown;
}

#submit-button
{
    text-align: center;
}

#all-cards
{
    display: flex;
    justify-content: space-between;
}
.submit
{
    display: flex;
    justify-content: space-around;
}

#submit-button 
{
    margin: 15px 15px 15px 15px;
    padding: 5px;   
    background-color:rgb(174, 85, 115);
    outline: none;
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;  
}





