* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#log-in {
  display: block;
}


/* #edit-sheet,   */
/* #view-page, */
/* #log-in,
#create-account 
{
  display: none;
} */

#logo {
  width: 70px;
  margin: 3%;
}

#form-top {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}

.login-card {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 5% 5%;
}

h2 {
  font-size: 2rem;
  padding: 5%;
}

.login-input input {
  width: 300px;
  padding: 14px 10px;
  border: 1px solid rgb(0, 0, 0, 0.352);
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

.login-button {
  text-align: center;
}

#login-button {
  padding: 12px 10px;
  border: 3px solid rgb(187, 63, 104);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(187, 63, 104);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10%;
}

#login-button:hover {
  cursor: pointer;
  background-color: rgb(187, 63, 104);
  color: white;
}

.account-have {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.account-have a {
  display: flex;
  color: rgb(34, 34, 34);
  text-decoration: none;
  font-family: sans-serif;
  padding: 20px 20px 0 20px;
}

/* create an account page */


.top-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-text {
  display: flex;
  text-align: center;
  padding: 7%;
}

.create-card {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background: rgb(255 255 255 / 30%);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 5% 5%;
}

h2 {
  font-size: 2rem;
  padding: 5%;
}

.create-input input {
  width: 300px;
  padding: 14px 10px;
  border: 1px solid rgb(0, 0, 0, 0.352);
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#create-button button {
  padding: 12px 10px;
  border: 3px solid rgb(187, 63, 104);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(187, 63, 104);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10%;
}

#create-button button:hover {
  cursor: pointer;
  background-color: rgb(187, 63, 104);
  color: white;
}

/* editing page */

#info-card {
  position: relative;
  padding: 40px;
  margin: 40px 0 0 40px;
  border-radius: 30px;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.edit-input input {
  width: 300px;
  padding: 14px 10px;
  border: 1px solid rgb(0, 0, 0, 0.352);
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#nurse-break,
#extra-duties,
#fire-code {
  width: 300px;
  padding: 14px 10px;
  border: 1px solid rgb(0, 0, 0, 0.352);
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#edit-button {
  text-align: center;
}

#edit-button {
  padding: 12px 10px;
  border: 3px solid rgb(187, 63, 104);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(187, 63, 104);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10%;
}

#edit-button:hover {
  cursor: pointer;
  background-color: rgb(187, 63, 104);
  color: white;
}

#current-date {
  padding-top: 20px;
  color: rgba(187, 63, 129, 0.975);
  text-align: center;
}

#day-night {
  display: flex;
  justify-content: center;
}


#shift-text {
  padding: 20px;
  color: rgba(187, 63, 129, 0.975);
  text-align: center;
}

.page-top {
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: large;
}

.card form {
  background: rgb(255 255 255/30%);
  backdrop-filter: blur(5px);
}

#all-cards form .edit-input input {
  width: 300px;
  padding: 14px 10px;
  border: 1px solid rgb(0, 0, 0, 0.352);
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

.psingle-input {
  width: 300px;
  padding: 14px 10px;
  border: 1px solid rgb(0, 0, 0, 0.352);
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
}

.psingle-input input {
  text-align: center;
  width: 100%;
  border-color: transparent;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

/* viewing page */
#date-view {
  padding-top: 20px;
  color: rgba(187, 63, 129, 0.975);
  text-align: center;
}

.room-patient {
  display: flex;
  justify-content: space-around;
}

.nurse-info {
  width: 300px;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#nurse-name {
  text-align: center;
  font-size: 1.5rem;
}

p {
  width: 100%;
  outline: none;
  background-color: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  border-color: transparent;
}

.P1,
.P2,
.P3,
.P4 {
  display: flex;
  justify-content: space-between;
}

#extra-duties,
#fire-code {
  color: brown;
}

.patient-btn
{
  display: flex;
  justify-content: center;
}

#add-patient-btn
{
  padding: 12px 16px;
  border: 3px solid rgb(214, 195, 159);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(214, 195, 159);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10%;
  text-align: center;
}

#add-patient-btn:hover {
  cursor: pointer;
  background-color: rgb(214, 195, 159);
  color: white;
}

#finalize-patient-btn
{
  padding: 12px 16px;
  border: 3px solid rgb(187, 63, 104);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(187, 63, 104);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10%;
  text-align: center;
}

#finalize-patient-btn:hover {
  cursor: pointer;
  background-color: rgb(187, 63, 104);
  color: white;
}


.submit {
  display: flex;
  justify-content: center;
}

#submit {
  padding: 12px 10px;
  border: 3px solid rgb(187, 63, 104);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(187, 63, 104);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10%;
}

#submit:hover {
  cursor: pointer;
  background-color: rgb(187, 63, 104);
  color: white;
}


p {
  font-family: 'Outfit', sans-serif;
}

#update {
  padding: 12px 16px;
  border: 3px solid rgb(63, 127, 187);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(63, 137, 187);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#update:hover {
  cursor: pointer;
  background-color: rgb(63, 129, 187);
  color: white;
}

#display-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.parent-container {
  display: flex;
  flex-direction: row;
}


.edit-button {
  padding: 12px 16px;
  border: 3px solid rgb(63, 127, 187);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(63, 137, 187);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-button:hover {
  cursor: pointer;
  background-color: rgb(63, 129, 187);
  color: white;
}

.delete-button {
  padding: 12px 16px;
  border: 3px solid rgb(187, 63, 63);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(187, 63, 63);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-button:hover {
  cursor: pointer;
  background-color: rgb(187, 63, 63);
  color: white;
}

#btns-day-night {
  display: flex;
  justify-content: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-color: rgb(187, 63, 129, 0.975);
}

.finalize {
  display: flex;
  justify-content: center;
  margin: 0;
}

#submit-all-btn {
  padding: 12px 16px;
  border: 3px solid rgb(29, 130, 45);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(29, 130, 45);
  font-family: sans-serif;
  font-size: 16px;
  margin: 5% 0 5% 0;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-self: flex-end;
}

#submit-all-btn:hover {
  cursor: pointer;
  background-color: rgb(29, 130, 45);
  color: white;
}

footer {
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(187, 63, 129, 0.975);
}

.dayvsnight {
  display: flex;
  flex-direction: row;
  margin: 2%;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.dayvsnight-staff {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.shift-title
{
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.shift-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shift-buttons
{
  display: flex;
  justify-content:space-evenly
}

.shiftButton {
  padding: 10px;
  font-size: 30px;
  background-color:  rgb(248, 241, 227);
  border: none;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shiftButton:hover {
  background-color: rgb(227, 216, 194);
  color: white;
}
