*
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    background-image:url(https://media.istockphoto.com/id/1332617403/photo/light-pink-and-purple-watercolor-background.jpg?b=1&s=612x612&w=0&k=20&c=bpmCidK7HRS-ClcZoHzX90X6uyLi8Eq3nSwujE_HOSo=);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-top
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#current-date
{
    padding-top: 20px;
    color: brown;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#shift-text
{
    padding-top: 20px;
    color: brown;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.all-cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.display-card
{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(255 255 255/30%);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    font-size: large;
}

#nurse-info 
{
    display: flex;
    justify-content: space-between;
}

#nurse-name
{
    text-align: center;
    font-size: 1.5rem;
}

.side-by-side
{
    display: flex;
    justify-content: space-around;
    
}

.side-by-side p 
{
    padding: 10px;
}

p
{
    width: 100%;
    outline: none;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    border-color: transparent;
}

.P1
{
    display: flex;
    justify-content: space-between;
}

.P2
{
    display: flex;
    justify-content: space-between;
}

.P3
{
    display: flex;
    justify-content: space-between;
}

.P4
{
    display: flex;
    justify-content: space-between;
}

p
{
    text-align: center;
}

#extra-duties 
{
    color: brown;
}

#fire-code 
{
    color: brown;
}
